{{ partial "header.html" . }}

<section id=content>
  Hi 👋 I'm Kinyanjui Wangonya (some call me Kelvin). Software Engineer working mostly with python and javascript.
  <section id="now">
    <h3>Now</h3>
    <span id="meta">
      <a href="https://sivers.org/nowff" target="_blank">What is this?</a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;last updated: 28/10/2019
    </span>
    <ul>
      <li>Breaking stuff at <a href="https://jenga-agency.com" target="_blank">Jenga</a></li>
      <li>Reading four <a href="https://www.goodreads.com/user/show/96550364-kinyanjui-wangonya" target="_blank">books</a>:
        <ul>
          <li>Jonathan Livingston Seagull by Richard Bach</li>
          <li>Animal Farm by George Orwell</li>
          <li>The Autobiography of Malcolm X by Malcolm X & Alex Haley</li>
          <li>Python Machine Learning by Sebastian Raschka</li>
        </ul>
      </li>
      <li>Taking Udacity's Full Stack Web Developer nanodegree</li>
    </ul>
  </section>
</section>

{{ partial "footer.html" . }}

