{{ partial "header.html" . }}

<section id=content>
  Hi 👋🏼 I'm Kinyanjui Wangonya (some call me Kelvin). Software Engineer working mostly with python and javascript.
  <section id="now">
    <h3>Now</h3>
    <span id="meta">
      <a href="https://sivers.org/nowff" target="_blank">What is this?</a>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;last updated: 26/12/2019
    </span>
    <ul>
      <li>Breaking stuff at <a href="https://jenga-agency.com" target="_blank">Jenga</a></li>
      <li>Reading three <a href="https://www.goodreads.com/user/show/96550364-kinyanjui-wangonya" target="_blank">books</a>:
        <ul>
          <li>How to Live, <em>by Sarah Bakewell</em></li>
          <li>The Catcher in the Rye, <em>by J.D. Salinger</em></li>
          <li>Quiet, <em>by Susan Cain</em></li>
        </ul>
      </li>
    </ul>
  </section>
</section>

{{ partial "footer.html" . }}
